<template>
    <AppLayout pageName="New Testament">
        <div class="flex flex-wrap mt-4">
            <Chapters/>
            <Books/>
        </div>
    </AppLayout>
</template>
<script>

import AppLayout from '../layouts/app-layout'
import VuePagination from '../components/vue-pagination'
import Books from '../components/Books'
import Chapters from '../components/Chapters'

export default {
    name: "new-testament",
    components: {
        AppLayout,
        VuePagination,
        Chapters,
        Books,
    },
    props:{
        versus: Array
    },
};
</script>







