<template>
    <div class="w-full xl:w-4/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                    <h3 class="font-semibold text-base text-blueGray-700"> BOOK </h3>
                </div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <button
                        v-if="active_book"
                        class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
                        type="button"
                        style="transition:all .15s ease" >
                        {{ active_book.book_name }}
                    </button>
                </div>
                </div>
            </div>
            <div class="block w-full overflow-x-auto overflow-y-auto">
                <!-- Projects table -->
                <div class="flex flex-wrap border">
                    <div v-on:click="setBook(book)" v-for="(book, index) in books" :key="index" :class=" activeBook(book) ">
                        {{ book.book_name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: "books",
        computed: {
            books(){
                return this.$page.props.books
            },
            active_book(){
                return this.$page.props.active_book
            }
        },
        methods:{
            activeBook(book){
                if (this.active_book && this.active_book.book_name == book.book_name)
                    return "bg-gray-200 text-pink-600  w-full sm:w-6/12 lg:w-6/12 xl:w-6/12 cursor-pointer p-4 text-center w-20 center border hover:bg-gray-100";
                else
                    return "w-full sm:w-6/12 lg:w-6/12 xl:w-6/12 cursor-pointer p-4 text-center w-20 center border hover:bg-gray-100";
            },    

            setBook(book){
                this.$inertia.post('/set-config',{
                    value: book.id,
                    key: "book_id",
                    delete: "chapter",
                });
            },
        }
    }
</script>