<template>
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        
        <ModalLayout :title="'Reading ' + title " :showModal="showModal" @toggleModal="toggleModal">
            <reading></reading>
        </ModalLayout>

        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base text-blueGray-700"> Chapter </h3>
                    </div>
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                        <button
                            v-if="active_chapter"
                            class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                            style="transition:all .15s ease">
                            {{ title }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="block w-full overflow-y-auto">
                <div class="flex flex-wrap border">
                    <div  v-on:click="setChapter(chapter)"  v-for="(chapter, index) in chapters" :key="index" :class="activeChapter(chapter)">
                        {{chapter.chapter}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    import Reading from './Reading'
    import ModalLayout from '../layouts/modal-layout'

    export default{
        name: "chapters",

        components: {
            Reading,
            ModalLayout,
        },

        computed: {
            active_book(){
                return this.$page.props.active_book
            },
            chapters(){
                return this.$page.props.chapters
            },
            active_chapter(){
                return this.$page.props.active_chapter
            },
            title(){
                var title = "";
                if( this.active_book) title += this.active_book.book_name;
                if( this.active_book) title += " ";
                if( this.active_chapter) title += this.active_chapter.chapter;
                return title;
            }
        },
        
        data() {
            return {
                showModal: false,
            }
        },

        methods:{            

            setChapter(chapter){
                this.$inertia.post('/set-config',{
                    value: chapter.chapter,
                    key: "chapter"
                });
                this.toggleModal();          
            },

            activeChapter(chapter){
                if(this.active_chapter && this.active_chapter.chapter == chapter.chapter) 
                    return "bg-gray-200 text-pink-600 w-full sm:w-6/12 lg:w-4/12 xl:w-2/12 p-4 text-center w-20 center border hover:bg-gray-200  cursor-pointer";
                else
                    return "w-full sm:w-6/12 lg:w-4/12 xl:w-2/12 p-4 text-center w-20 center border hover:bg-gray-200  cursor-pointer";
            },

            toggleModal(){
                this.showModal = !this.showModal;  
            },

        }
    }
</script>