<template>
    <div class="relative p-6 flex-auto">
        <div class="w-full overflow-x-auto" style=" height:500px">
            <p v-for="(verse, index) in verses" :key="index" class="hover:bg-gray-100 p-1">
                <i class="text-sm"> {{ verse.verse}} </i> 
                <span class=""> {{ verse.text}} </span class="">
            </p>
            <div class="flex-1 flex justify-between mt-2 mb-2">
                <a href="#" v-on:click="previous()" class="relative inline-flex items-center px-4 py-2 border border-blue-400 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Previous
                </a>
                <a href="#" v-on:click="next()" class="ml-3 relative inline-flex items-center px-4 py-2 border border-blue-400 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
                    Next
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: "reading",
        computed: {
            
            verses(){
                return this.$page.props.verses;
            },
            
            active_chapter(){
                return this.$page.props.active_chapter
            },
        },
        methods:{
            next(){
                var chapter = 1 + Number(this.active_chapter.chapter);
                this.$inertia.post('/set-config',{
                    value: chapter,
                    key: "chapter"
                });
            },
            previous(){
                var chapter = Number(this.active_chapter.chapter) - 1;                
                this.$inertia.post('/set-config',{
                    value: chapter,
                    key: "chapter"
                });
            }
        }
    }
</script>