<template>
  <div>
    <sidebar-component></sidebar-component>
    <div class="relative md:ml-64 bg-blueGray-100">
      <!-- Header -->
        <Header :pageName="pageName" />
        <div class="relative bg-gray-100 md:pt-20 pb-20 pt-12">
            <slot></slot>
            <Footer />
        </div>
    </div>
  </div>
</template>

<script>

    import SidebarComponent from "../components/Sidebar.vue";
    import Footer from '../components/Footer'
    import Header from '../components/Header'

    export default {
        name: "app-layout",
        components: {
            SidebarComponent,
            Footer,
            Header,
        },
        props: {
            pageName: null,
        },
        mounted(){  }
    }
</script>
